<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1 class="site-title"><%= link_to "FxCommunity", '#', id: "logo" %></h1>
    <p>sub title</p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "LINK1",'#' %></li>
        <li><%= link_to "LINK2",'#' %></li>
        <li><%= link_to "LINK3",'#' %></li>
        <li><%= link_to "LINK4",'#' %></li>
      </ul>
    </nav>
  </div>
</header>